extends ../layout/main

block head 
  - var title = 'Контакты'
  - var bodyClass = 'contacts'
block content
  .container
    .row
      .col-12
        span.google wergwehg werg werg werg werg wsrgv werg werg
        .hoo
          +svg('down')